* {
    /*background: #444546;*/
}

.content{
    margin: auto;
    padding: 0;
    width: 100%;
}

.error{
    border: 15px;
    padding: 5px;
    width: 45%;
    font-size: 18px;
    background: rgb(255, 12, 17);
    color: white;
    box-sizing: border-box;
    margin: 0 auto;
}

.center-by-left {
    margin-left: 335px;
}

.center-by-right {
    margin-right: 335px;
}

.view-content {
    margin: 0;
    padding: 0;
    width: 100%;
}

.error-not-found-content {}

.error-not-found-content h1{
    font-size: 75px;
}

.error-not-found-content h3 {
    font-size: 40px;
}

.error-not-found-content a {
    font-size: 20px;
    border-radius: 10px;
    background: #519b97;
    padding: 15px;
    text-decoration: none;
    color: black;
}

.button {
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
}

.button .button-white {
    color: black;
    background: white;
}